@model WebApplication2.Models.Communication

@{
    ViewBag.Title = "DeleteHandler";
}

<br />
<br />
<br />
<div>
    <center>
        <p style="font-family:Gabriola;font-size:200%;">
            <b>
                Do you want to close '@Model.CloseHandler'?
            </b>
        </p>
    </center>

    <br />

    <center>
        <button type="button" id="btnClose" class="btn btn-primary" onclick="onClose()">Close</button>
        <button type="button" id="btnCancel" class="btn btn-danger" onclick="onCancel()">Cancel</button>
    </center>
</div>

<script type="text/javascript">
	function onClose() {
		$("#btnClose").attr('disabled', !this.checked);
        $("#btnCancel").attr('disabled', !this.checked);
		window.location.href = '@Url.Action("CloseHandler")';
	}
	function onCancel() {
        $("#btnClose").attr('disabled', !this.checked);
		$("#btnCancel").attr('disabled', !this.checked);
		window.location.href = '@Url.Action("Config")';
	}
</script>