@{
    ViewBag.Title = "DeleteHandler";
}

<h2>Close handler?</h2>
<p>
    @Html.ActionLink("CloseHandler", "CloseHandler", null, new { @class = "btn btn-info btn-xs" })
    @Html.ActionLink("Cancel", "Cancel", new { @class = "btn btn-info btn-xs" })
</p>