@model WebApplication2.Models.Image

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Photo?</h2>
<p>
    @Html.ActionLink("DeletePhoto", "DeletePhoto", new { thumbpath = Model.ThumbPath }, new { @class = "btn btn-info btn-xs" })
    @Html.ActionLink("Cancel", "Cancel", new { @class = "btn btn-info btn-xs" })
</p>

<img src="~/outputCheck/@Html.DisplayFor(model => model.ThumbPath)" class="thumbnail" alt="-sample-">

<div class="caption">
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <p>date: @Html.DisplayFor(model => model.Date)</p>
</div>