@model WebApplication2.Models.Communication

@{
    ViewBag.Title = "Logs";
}

<h2>Logs</h2>

<div>
    <div>
        <h2>Filter  by  type</h2>
        <input type="text" id="typeId" size="5" />
        <input type="button" id="btnFilter" value="Filter" />
        <ul id="lstProducts"></ul>
    </div>

    <h2>Logs</h2>
      <table class="table">
        <tr>
            <th>
                Type
            </th>
            <th>
                Message
            </th>
        </tr>

        @foreach (var item in Model.LogList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
            </tr>
        }
    </table>

</div>

<script>
    $("#btnStart").click(function () {
        $.getJSON("@Url.Action("GetLog")", function (log) {
            $("#logType").text(log.Type);
            $("#logMessage").text(log.Message);
        });
    });

    $("#btnFilter").click(function () {
        var input = {
            type:$("#typeID").val(),
        };
        $.post("@Url.Action("GetLog")", input, function (data) {
            $("#lstProducts").append("<li>" + data.Type + " " + data.Message + "</li>");
        }, "json");
    });

</script>