@model WebApplication2.Models.Communication

@{
    ViewBag.Title = "Logs";
}

<center><h1 style="color: #2e6c80;font-family:Gabriola;"><b>Logs</b></h1></center>
<br />

<text style="font-family:Gabriola;font-size:200%;"><b>Filter by type:   </b></text>
<input id="myInput" type="text" placeholder="Message type">
<br />

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Type
                </th>
                <th>
                    Message
                </th>
            </tr>
        </thead>
        <tbody id="logTable">
            @foreach (var item in Model.LogList)
            {
                <tr>
                    <td class="typeMes">@Html.DisplayFor(modelItem => item.Type)</td>
                    <td>@Html.DisplayFor(modelItem => item.Message)</td>
                </tr>
            }
        </tbody>
    </table>

</div>

<script>
    $(document).ready(function () {
        $("input").keyup(function () {
            var data = this.value;
            var rows = $("tbody").find("tr");
            if (data == '') {
                rows.show();
            } else {
                rows.hide();
                rows.filter(function () {
                    var columnValue = $(this).find('.typeMes').text().toLowerCase();
                    var other = data.toLowerCase();
                    return columnValue.indexOf(other) == 0;
                }).show();
            }
        });
    });

</script>