@model IEnumerable<ImageWeb.Models.Image>

@{
    ViewBag.Title = "Photos";
}

<h2>Photos</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

    </div>
</body>
</html>
